.stop {
    height: 30px;
    width: 32px;
}

#enregistre {
    height: 40px;
    width: 100%;
    font-size: 1.2rem
}

.id {
    opacity: 0.8;
    text-align: right;
}

.text {
    height: 50px;
    width: 50px;
}

h3 {
    color: #7044ff;
}

.btn {
    border: 0.1rem solid white;
}

.text {
    font-size: 0.9rem;
}

.image {
    height: 25px;
    width: 25px;
    margin-right: 10px;
}
