ion-icon{
    font-size: 40px;
}

#top {
    margin-top: 20px;
}

ion-button {
    height: 40px;
    font-size: 20px;
}

.icon_titre {
    font-size: 60px;
}

p {
    color: white;
    font-size: 40px;
}

.print {
    display: table;
    height: 100%;
    width:  100%;
}
.printIcon {
    display: table-cell;
    vertical-align: middle;
}
