h4 {
    font-size: 16px;
    color: #5f97ef;
}

#time {
    color: black;
}

.id {
    opacity: 0.8;
    text-align: right;
}

.text {
    font-size: 0.9rem;
}

.icon {
    color: white;
    background-color: #7044ff;
    font-size: 2em;
    padding-bottom: 0.9em;
    text-align: center;
    height: 100px;
    width: 100px;
    border-radius: 5px;
}

.btn {
    border: 0.1rem solid white;
}

.fab {
    margin-top: 60px;

}

.sousTitre {
    font-size: 12px;
}

.image {
    height: 25px;
    width: 25px;
    margin-right: 10px;
}
